/* General body styling */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Homepage styling */
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('kitchen.jpg');
    background-size: cover;
    background-position: center;
}

/* Title and subtitle styling */
.title-container {
    text-align: center;
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);
    color: #31622D;
    font-family: 'Gaegu', cursive;
}

.title {
    font-size: 4rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: -40px;
}

/* Search bar styling */
.search-bar {
    position: absolute;
    top: 10%;  /* Adjust as needed */
    left: 22%; /* Adjust as needed */
    transform: translateX(-50%);
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #31622D;
    font-family: 'Gaegu', cursive;
}

/* Fridge image styling */
.fridge {
    position: absolute;
    top: 50%;  /* up/down */
    left: 31%;  /* left/right */
    transform: translate(-50%, -50%);
    width: 350px; /* Adjust size as needed */
    cursor: pointer;
}

/* Storage page styling */
.storage-page {
    background-image: url('storage.jpg');
    background-size: cover;
    background-position: center;
}

.recipe-button {
    position: absolute;
    top: 44%;  /* Adjust position */
    left: 42%;
    transform: translate(-50%, -50%);
    width: 70px; /* Adjust size */
    cursor: pointer;
}

#recipe-container {
    margin-top: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.recipe {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
}


